<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @column.title %>
</p>

<p>
  <b>Position:</b>
  <%= @column.position %>
</p>


<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
